rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      function isSignIn(){
        return request.auth != null;
      }

      function isOwner(){
        return request.auth.uid == userId;
      }

      function hasVerifiedEmail(){
        return request.auth.token.email_verified;
      }

      allow read, write: if isSignIn() && isOwner();
    }

    // TODO: Remove this after firestore has integrated into the contact page
    match /TestUsers/{userId} {
      function isSignIn(){
        return request.auth != null;
      }

      function isOwner(){
        return request.auth.uid == userId;
      }

      function hasVerifiedEmail(){
        return request.auth.token.email_verified;
      }

      allow read, write: if isSignIn() && isOwner();
    }
  }
}
