rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      function isSignIn() {
        return request.auth != null;
      }
      allow create: if isSignIn() && request.resource.contentType.matches('image/.*');
      allow read: if isSignIn();
      allow update, delete: if false;
    }
  }
}
